@page "/coursepages/courses"
@inherits CourseBase

<h1 class="page-title">Courses</h1>

<p>@Message</p>

@if (Courses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudSimpleTable Style="overflow-x: auto;">
    <thead>
        <tr>
            <td colspan="@Headings.Length" align="right">
                <MudChip Icon="@Icons.Filled.Create" Color="Color.Info" Size="Size.Medium" Link="/coursepages/editcourse">New Course</MudChip>
            </td>
        </tr>
        <tr>
            @foreach (var h in @Headings)
                {
                    <th>@h</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Courses.Count == 0)
            {
                <tr>
                    <td colspan="@Headings.Length">No courses found.</td>
                </tr>
            } 
            else
            {
                @foreach (var course in @Courses)
                {
                    var editUrl = $"/coursepages/editcourse/{@course.CourseId}";
                    <tr>
                        <td>
                            <MudIcon Icon="@Icons.Filled.SportsGolf" Size="Size.Large" Title="@course.Name" />
                        </td>
                        <td>@course.Name</td>
                        <td>@course.City</td>
                        <td>@course.State</td>
                        <td>@course.Phone</td>
                        <td>
                            <MudChip Icon="@Icons.Filled.Create" Color="Color.Info" Size="Size.Medium" Link="@editUrl">Edit</MudChip>
                        </td>
                    </tr>
                }
            }
            <tr>
                <td colspan="@Headings.Length" align="right">
                    <MudChip Icon="@Icons.Filled.Create" Color="Color.Info" Size="Size.Medium"
                    Link="/coursepages/editcourse">New Course</MudChip>
                </td>
            </tr>
        </tbody>
    </MudSimpleTable>
}
